body {
	margin: 0;
}
ul, ol, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.boxbg {
	position: fixed;
	background: url(img/bg.jpg);
	top: 0;
	left: 0;
	background-position: center;
	background-size: cover;
	width: 100%;
	z-index: -9;
}
.contentbg {
	width: 1920px;
	height: 100vh;
	background: url(img/home_bg.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	margin: 0 auto;
}
.top {
	background: #2c0903;
	box-shadow: 0px 0px 3px 0px #61350a;
	position: relative;
}
.top header {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 40px;

}
.top .fl {
	float: left;
}
.top .fr {
	float: right;
}
.top header .left li:first-of-type a {
	width: 62px;
	height: 40px;
	background: url(img/icon-sprite.png) no-repeat -18px -75px;
	display: block;
}
.top header .left li:first-of-type a:hover {
	background-position: -18px -119px;
}
.top header li {
	float: left;
	transition: all .3;
	margin-right: 30px;
}
.top header li>a {
	font-family: "微软雅黑";
	color: rgba(255,255,255,.7);
	line-height: 40px;
	text-decoration: none;
	display: inline-block;
	font-weight: 800;
	font-size: 16px;
}
.top header li>a:hover {
	text-shadow: 0 0 15px #fff, 0 0 30px rgba(255,255,255,.3);
}
.top header li:nth-of-type(2)>a:after,
.top header li:nth-of-type(5)>a:after,
.top header li:nth-of-type(7)>a:after {
	content: "";
	width: 14px;
	height: 7px;
	background : url(img/icon-sprite.png) no-repeat -147px -131px;
	display: inline-block;
	margin-left: 5px;
}
/**/
.top header li .subnav a:after{
	content: none;
}
.top header li .subnav {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	background: #171B26;
	text-align: center;
	box-sizing: border-box;
	padding: 30px 0;
	z-index: 1;
}
.top header li .subnav a {
	width: 180px;
	height: 180px;
	display: inline-block;
	background-position: center;
	background-size: cover;
	margin: 10px 10px;
}
.top header li .subnav a:hover{
	box-shadow: 0 0 1px 0 rgba(255,255,255,1);
	filter: brightness(115%);
}
.top header li .subnav a:nth-of-type(1) {
	background-image: url(img/card-overwatch-CN-85c98611cefd3018.jpg);
	transition-delay: 50ms;
}
.top header li .subnav a:nth-of-type(2) {
	background-image: url(img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg);
	transition-delay: 100ms;
}
.top header li .subnav a:nth-of-type(3) {
	background-image: url(img/card-hearthstone-CN-538b49564ab2122a.jpg);
	transition-delay: 150ms;
}
.top header li .subnav a:nth-of-type(4) {
	background-image: url(img/card-heroes-of-the-storm-CN-bacafbbddcf92348.jpg) ;
	transition-delay: 200ms;
}
.top header li .subnav a:nth-of-type(5) {
	background-image: url(img/card-starcraft-2-CN-de310c5ddfb63a49.jpg);
	transition-delay: 250ms;
}
.top header li .subnav a:nth-of-type(6) {
	background-image: url(img/card-diablo-3-CN-0d57444efa52a79b.jpg);
	transition-delay: 300ms;
}
.top header li:hover a:after {
	background-position-y: -145px;
}
.top header li .subnav {
	visibility: hidden;
	opacity: 0;
}
.top header li:hover a+.subnav{
	visibility: visible;
	opacity: 1;
	transition: all .3s;
}
.top header li .subnav a{
	position: relative;
	top:-30px;
	opacity: 0;
	transition: all .3s;
	
}
.top header li:hover a+.subnav a{
	top: 0;
	opacity: 1;
}

div.subnav1 {
				background: #181D27;
			}
			.more {
				border-top: 1px solid rgba(255,255,255,.08);
				border-bottom: 1px solid rgba(255,255,255,.08);
			}
			
			.more span {
				position: relative;
				top: -30px;
				opacity: 0;
				transition: top 1s;
				line-height: 50px;
				color: white;
			}
			
			.nav {
				position: relative;
			}
			
			li .subnav1 {
				display: none;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 40px;
				left: 0;
				width: 100%;
				text-align: center;
				z-index: 1000;
				transition: all .3s;
			}
			li:hover .subnav1 {
				display: block;
				opacity: 1;
				visibility: visible;
				transition: all .3s;
			}
			li .subnav1 a {
				display: inline-block;
				vertical-align: middle;
				height: 300px;
				position: relative;
				top: -30px;
				transition: all .3s;
				
			}
			
			div li .subnav1 a .left {
				float: left;
			}
			.top header li .subnav1 a span after{
				content: ' ';
			}
			li .subnav1 a .right {
				float: right;
				width: 0px;
				background: #181D27;
				transition: all .3s;
				overflow: hidden;
			}
			li .subnav1 a .right img {
				width: 100px;
				display: block;
			}
			li .subnav1 a:hover {
				background: #252935;
			}
			li .subnav1 a:hover .right {
				width: 100px;
			}
			li:hover .subnav1>a {
				top: 0px;
				transition: all .3s;
			}
			li:hover .subnav1 a:nth-of-type(1) {
				animation-delay: 50ms;
			}
			li:hover .subnav1 a:nth-of-type(2) {
				animation-delay: 100ms;
			}
			li:hover .subnav1 a:nth-of-type(3) {
				transition-delay: 150ms;
			}
			li:hover .subnav1 a:nth-of-type(4) {
				transition-delay: 200ms;
			}
			li:hover .subnav1 a:nth-of-type(5) {
				transition-delay: 250ms;
			}
			li:hover .subnav1 .more span {
				top: 0px;
				opacity: 1;
				transition: top 1s, opacity .5s .1s;
			}
			li .subnav1 a span p {
				color: white;
				font-size: 14px;
			}	
.content-card {
	width: 1024px;
	margin: 0 auto;
	top: 0;
}
.card-head {
	width: 100%;
	padding: 26px 0;
}
.content-card .card-head h1{
	margin: 0;
}
.content-card .card-head .logo a {
	width: 350px;
	height: 184px;

}
div .frf {
	float: right;
	position: relative;
	right: 0;
	bottom: 72px;
}
div .frf input:first-of-type{
	border: 1px solid #8bb6ad;
	width: 240px;
	height: 26px;
	padding: 7px 40px 7px 10px; 
	color: #8bb6ad;
	outline: none;
	background: rgba(58,58,58,.3);
	font-size: 16px;
}
div .frf input:last-of-type{
	background: url(img/search.png) no-repeat;
	height: 25px;
	width: 25px;
	outline: none;
	border: none;
	position: absolute;
	top: 10px;
	right: 5px;
}
/**/
.navWrap {
	width: 1024px;
	margin: 0 auto;
	height: 52px;
	/*overflow: hidden;*/
	background: url(img/nav_bg-1.jpg) no-repeat;
	/*padding: 0 58px;*/
	position: sticky;
    top: 0;
    z-index: 999;
    display: inline-block;
}
.navWrap li {
	width: 114px;
	height: 52px;
	display: block;
	float: left;
	position: relative;
}
.navWrap li>a {
	width: 114px;
	height: 52px;
	display: block;
	float: left;
	background: rgba(0,0,0,.3);
	background: url(img/nav_bg-1.jpg) no-repeat;
	text-indent: -99em;
}
.navWrap li:nth-of-type(1){
	
	margin-left: 58px;
}
.navWrap li:nth-of-type(1)>a {
	background-position: -58px -104px;
	
}
.navWrap li:nth-of-type(2)>a {
	background-position: -172px 0px;
}
.navWrap li:nth-of-type(3)>a {
	background-position: -286px 0px;
}
.navWrap li:nth-of-type(4)>a {
	background-position: -400px 0px;
}
.navWrap li:nth-of-type(5)>a {
	background-position: -514px 0px;
}
.navWrap li:nth-of-type(6)>a {
	background-position: -628px 0px;
}
.navWrap li:nth-of-type(7)>a {
	background-position: -742px 0px;
}
.navWrap li:nth-of-type(8)>a {
	background-position: -856px 0px;
}
.navWrap li:hover>a {
	background-position-y: -104px;
}

.navWrap:before {
	content: '';
	width: 96px;
	height: 74px;
	background: url(img/nav-sprite-l.png) no-repeat;
	position: absolute;
	top: -18px;
	left: -42px;
}
.navWrap:after {
	content: '';
	width: 95px;
	height: 69px;
	background: url(img/nav-sprite-r.png) no-repeat;
	position: absolute;
	top: -18px;
	right: -33px;
}


.navWrap li:hover .navsub {
	display: block;
}
/***/
.navWrap .navsub {
	position: absolute;
	top: 47px;
	left: 0px;
	width: 114px;
	/*text-align: center;*/
	background: rgba(77,9,8,.95);
	display: none;
	z-index: 999;
}
.navWrap .navsub a {
	display: block;
	text-decoration: none;
	color: rgb(205, 153, 142);
	line-height: 36px;
	font-size: 14px;
	padding-left: 20px;
}
.navWrap .navsub a:hover {
	color: white;
	background: #81120c;
}

/**/
.container {
	width: 1024px;
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
	padding-bottom: 140px;
}
.container .main-left{
	width: 704px;
	float: left;
	background: url(img/homeconmain-bg.png) repeat-y;
	position: relative;
	bottom: 4px;
	background-position-x: 50%;
	overflow: hidden;
	z-index: 1;
}
.container .main-left .banner {
	width: 640px;
	margin: 20px auto 0px;
	border: 1px solid #b7894c;
	padding: 1px;
	position: relative;
}

.container .main-left .banner img {
	vertical-align: middle;
}
.container .main-left .banner .txt {
	overflow: hidden;
	line-height: 42px;
	background: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	box-sizing: border-box;
	padding: 1px;
    background-clip: padding-box;
    border: 1px solid #ff000000;
    
	border-top: 1px solid #b7894c;
	
}
.container .main-left .banner .txt p {
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
	display: inline-block;
	float: left;
}
.container .main-left .banner .txt img {
	width: 64px;
	margin: 5px 10px;
	border: 1px solid orange;
	display:block;
	float: right;
}
.video-eye {
	width: 663px;
	background: url(img/news-eyes-bg.jpg) no-repeat;
	margin: 0 auto;
	padding-top: 35px;
	overflow: hidden;
}
.video-eye .video-eye1{
	width: 288px;
	height: 191px;
	background: url(img/news-eyes-module.png) no-repeat;
	margin: 0 10px;
	padding: 10px;
	display: inline-block;
}
.video-eye .video-eye1 a{
	margin: 3px 0 0 1px;
	width: 280px;
	height: 140px;
	display: block;
	position: relative;
}
.video-eye .video-eye1 img{
	width: 280px;
	height: 140px;
}

.video-eye .video-eye1 a img:hover {
	outline:2px solid green;
}
.video-eye .video-eye1:nth-of-type(odd) {
	float: left;
	display: inline-block;
}
.video-eye .video-eye1:nth-of-type(even) {
	float: right;
	display: inline-block;
}
.video-eye .video-eye1:nth-of-type(even):after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
.video-eye .video-eye1 p {
	text-align: center;
	color: #2e1b1e;
	font-weight: 700;
}
.homenews {
	width: 630px;
	height: 100px;
	margin: 0 auto;
	padding: 45px 0 30px;
	display: block;
	border-bottom: 1px solid #dbc497;
	}
.homenews:hover{
	background: url(img/homenewsbg.png) repeat-y;
	background-position-x: 50%;
}
.homenews a img {
	width: 197px;
	height: 97px;
	border: 1px solid #b7894c;
	background: #fee0b9;
	display: block;
	float: left;
	margin-right: 17px;
	padding: 1px;
}
.homenews a:hover img {
	border: none;
	padding: 2px;
	background: #76b900;
}
.homenews h4 {
	color: #150603;;
	display: block;
	font-weight: 700;
	font-size: 16px;
	padding-bottom: 10px;
	margin: 0 auto;
}
.homenews p {
	display: block;
	font-size: 14px;
	color: #695745;
	overflow: hidden;
	letter-spacing: 1px;
	height: 38px;
	margin-top: 0;
}
.iconConment {
	width: 18px;
	height: 19px;
	display: inline-block;
	background: url(img/icon.png) no-repeat;
	background-position: -80px -112px;
	margin-right: 2px;
	vertical-align:middle;
}
.number {
	color: #d25300;
	font-size: 14px;
	vertical-align:middle;
	display: inline-block;
}
.time {
	color:#666 ;
	vertical-align:middle;
	padding-left: 20px;
	font-size: 12px;
}
.homeshowmore {
	width: 640px;
	margin: 0 auto;
	border-top: 1px solid #efdba8;
	display: block;
}
.newsmore {
	height: 40px;
	margin:15px auto 0;
	text-align: center;
	color:#5b4b38;
	font-size: 16px;
	line-height: 40px;
	border-radius: 3px;
	border: 1px solid #f1dbb8;
}
.newsmore:hover {
	background: #c3a473;
}
.newsmore .bordernews {
	font-size: 16px;
	width: 100%;
	
	height: 40px;
	display: block;
	padding-right: 12px;
	color: #5b4b38!important;
	border-bottom: none;
}
.bordernews:after {
	content: '';
	width: 20px;
	height: 9px;
	display: inline-block;
	background: url(img/more-icon.png) no-repeat;
	background-position: right center;
}
.homeConmMain {
	width: 703px;
	height: 34px;
	background: url(img/homeconmain-bg-bot.png) no-repeat;
	position: relative;
	top: 10px;
	}
	/**/
.container .main-right{
	width: 340px;
	background: url(img/homeconbar-bg.png) repeat-y;
	background-position: right;
	position: absolute;
	top: -10px;
	right: 0;
	/*z-index: -1;*/
}
.features {
	background: url(img/home-bg-cr.jpg) no-repeat;
	min-height: 590px;
	text-align: center;
}
.features img {
	vertical-align: middle;
	max-height: 100%;
}
.features ul {
	width: 240px;
	margin: 0 auto;
	overflow: hidden;
}
.features ul li {
	float: left;
	margin-top: 45px;
}
.features ul li:first-of-type a {
	background-position: 0px -180px;
}
.features ul li:nth-of-type(2) a {
	background-position: -80px 0px;
}
.features ul li:nth-of-type(3) a {
	background-position: -160px 0px;
}
.features ul li:hover a {
	background-position-y: -90px;
}
.features ul li a {
	width: 80px;
	height: 90px;
	background: url(img/device-icon.png) no-repeat;
	display: block;
}
.features .download a {
	background: url(img/download-btn2.png) no-repeat;
	background-position: -73px bottom;
	width: 220px;
	height: 61px;
	display: inline-block;
	padding-top: 10px;
}
.module_media {
	width: 305px;
	background: url(img/moudel-top-bg.jpg) no-repeat;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 30px;
}
.module_media h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	height: 30px;
	color: #03345f;
	margin-bottom: 10px;
}

.module_media h3.iconCommon:before {
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(img/icon.png) no-repeat;
	vertical-align: middle;
	margin-right:5px ;
}
.module_media h3.iconZh:before {
	background-position: -87px -4px;
}
.module_media .esport {
	position: relative;
	text-align: center;
}
.module_media .esport a {
	position: relative;
	display: inline-block;
	width: 244px;
	text-decoration: none;
	color: #251c0f;
}
.module_media .esport a img {
	transition: all .3s;
}
.module_media .esport a img:nth-of-type(2) {
	position: absolute;
	top: 0;
	left: 0;
}
.module_media .esport a h5 {
	margin: 0;
	line-height: 30px;
}
.module_media .esport .prev {
	left: 15px;
}
.module_media .esport .prev:hover {
	background-position-x: -16px;
}
.module_media .esport .prev, .module_media .esport .next {
	width: 7px;
	height: 14px;
	background: url(img/esport-icon.gif) no-repeat;
	display: inline-block;
	position: absolute;
	top: 62px;
	margin-top: -7px;
}
.module_media .esport .next {
	right: 15px;
	background-position: -8px 0;
}
.module_media .esport .next:hover {
	background-position-x: -24px;
}
.module_media .esport a:hover img {
	transform: scale(1);
	-webkit-transform: scale(1);
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
}
.live .esport a {
	width: 265px;
	height: 117px;
}
.live {
	padding-bottom: 30px;
}

.module_media .bot {
	width: 265px;
	padding: 0px 20px;
	
}
.module_media h3.iconMt:before {
	background-position: -46px -74px;
}
.module_media.recommend .bot>a {
	display: block;
	text-decoration: none;
	color: #5b4b38;
	font-size: 12px;
	line-height: 36px;
	border-bottom: 1px solid #e8d6a8;
}
.module_media.recommend .bot>a:before {
	content: '';
	width: 10px;
	height: 7px;
	background: url(img/icon.png) no-repeat;
	display: inline-block;
	background-position: -135px -143px;
}
.module_media .bot .more {
	text-align: right;
	overflow: hidden;
}
.module_media .bot .more a {
	width: 33px;
	height: 30px;
	display: inline-block;
	background: url(img/layout%2Ficon-more.png) no-repeat;
	background-position: bottom;
	float: right;
}
.module_normal{
	overflow: hidden;
}
.module_normal li{
	position: relative;
	width: 235px;
	padding: 15px;
	
	margin: 10px auto 20px;
	background: #d1b181;
	border: 1px solid #efd4ad;
	border-radius: 3px;
}
.module_normal li h4 {
	margin: 0;
	color: #251c0f;
}
.module_normal li:after {
	content: '';
	width: 100px;
	height: 66px;
	background: url(img/commnity-icon.png) no-repeat;
	display: block;
	background-position-x: right;
	
	position: absolute;
	top: -10px;
	right: 0px;
}
.module_normal li.guide:after {
	background-position-y:-279px;
	transition: all 1s;
}
.module_normal li.guide:hover:after {
	background-position-y:-379px;
}

.module_normal li.tmall:after {
	background-position-y:-775px;
}
.module_normal li.tmall:hover:after {
	background-position-y:-775px;
}
.module_normal li.tmall2:after {
	background-position-y:-1034px;
}
.module_normal li.tmall3:after {
	background-position-y:-1132px;
}
.module_normal li p {
	margin: 0 auto;
	font-size: 14px;
}

.module_media .bot {
	width: 265px;
	padding: 0px 20px;
	
}
.rigthModuleSub {
	width: 305px;
	margin: 0 auto;
	height: 300px;
	background: url(img/moudel-top-bg.jpg) no-repeat;

}
.rightModule {
	position: relative;
}
.rigthModuleSub .rightModule .bot{
	padding: 30px 20px;
	width: 265px;
	height: 251px;
	
}
.rigthModuleSub .rightModule .bot h3 {
	font-size: 16px;
	font-weight: 700;
	color: #03345f;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	display: inline-block;
	
}
.rigthModuleSub .rightModule .bot h3:before{
	content: '';
	background: url(img/commonicon.png) no-repeat -4px -189px;
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 5px;
	
}
.rigthModuleSub .rightModule .bot .ulborder{
	width: 255px;
	padding-left: 10px;
	margin-top: 20px;
	display: inline-block;
}
.rigthModuleSub .rightModule .bot .ulborder .weixin {
	width: 117px;
	display: inline-block;
	padding-right: 8px;
	background: url(img/border.png) no-repeat right 4px;
}
.ulborder .weixin span{
	width: 42px;
	height: 42px;
	display: block;
	background: url(img/share.png) no-repeat;
	background-position: -372px 0px;
	float: left;
	margin-top: 5px;
}
.ulborder li a {
	font-size: 14px;
	text-decoration: none;
	color: #251c0f;
}
.ulborder li a:nth-of-type(1) i {
	color: #3d8403;
}
.ulborder li a:nth-of-type(2) i {
	color: #f2743e;
}
.ulborder li a i{
	font-style: normal;
}
.ulborder li a i:before {
	content: ' ';
}
.rigthModuleSub .rightModule .bot .ulborder .weibo {
	width: 118px;
	display: inline-block;
	height: 42px;
	overflow: hidden;
}
.ulborder .weibo span{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(img/share.png) no-repeat;
	background-position: -205px 0px;
	float: left;
	margin-top: 7px;
	}
.ulborder .weibo a {
	display: inline-block;
	margin-top: 14px;
	
}
.ulborder .weibo:hover a{
	color: #db6800;
}
.rigthModuleSub .rightModule .bot .ulborder .shouji {
	width: 118px;
	display: block;
	height: 42px;
	overflow: hidden;
	margin-top: 20px;
}
.ulborder .shouji span{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(img/share.png) no-repeat;
	background-position: -456px 0px;
	float: left;
	margin-top: 7px;
	}
.ulborder .shouji a {
	display: inline-block;
	margin-top: 14px;
	
}
.ulborder .shouji:hover a{
	color: #db6800;
}
.ulborder .mail {
	width: 130px;
	display: inline-block;
	background: url(img/border.png) no-repeat right 4px;
	float: left;
	margin-top: 20px;
	
}
.ulborder .mail p {
	font-size: 14px;
	font-weight: 700;
	margin: 0px auto;
}
.ulborder .mail a {
	font-size: 12px;
}
.ulborder .mail a:hover {
	color: #db6800;
}
.ulborder .tel {
	width: 100px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
	
}
.ulborder .tel p {
	font-size: 14px;
	font-weight: 700;
	margin: 0px auto;
}
.ulborder .tel a {
	font-size: 12px;
}
.homeConBar-bot {
	width: 340px;
	height: 35px;
	background: url(img/homeconbar-bg-bot.png) no-repeat;
	position: absolute;
    right: 0;
    bottom: -34px;
}

.clearFix:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: '';
}
.footer {
	height: 471px;
	background: url(img/footer.jpg) no-repeat 50% 0;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 26px;
	width: auto;
	z-index: 3;
	font-size: 12px!important;
}
.regWrapper {
	width: 349px;
	height: 87px;
	position: absolute;
	z-index: 101;
	left: 50%;
	top: -30px;
	margin-left: -175px;
	background: url(img/reg-bg.png) no-repeat;
}
.footer .regWrapper .regBtn {
	width: 249px;
	height: 83px;
	background: url(img/reg-btn.png) no-repeat;
	z-index: 101;
	position: absolute;
    bottom: -5px;
    left: 14%;
}
.footer .regWrapper .regBtn:hover {
	background-position: 0 -84px;
}
.footer .f-ch {
	width: 1000px;
	color: #fff;
	padding-top: 79px;
	margin: 0 auto;
	font-size: 14px;
	position: relative;
}
.footer .f-ch .f-cs {
	float: left;
	font-size: 14px;
	margin: 0;

}
.footer .f-ch .f-cs a {
	color: #fff;
	text-decoration: none;
	margin-right: 37px;
	vertical-align: middle;
	margin-top: 5px;
	font-weight: 400;

	
}
.footer .f-ch .f-cs .icon {
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-right: 10px;
	background: url(img/f-business.png) no-repeat;
	position: relative;
	vertical-align: middle;
}
.footer .f-ch .f-cs a:nth-of-type(1) .icon{
	background-position: -6px -7px;
}
.footer .f-ch .f-cs a:nth-of-type(2) .icon{
	background-position: -35px -7px;
}
.footer .f-ch .f-cs a:nth-of-type(3) .icon{
	background-position: -6px -33px;
}
.footer .f-ch .f-cs-right {
	vertical-align: top;
	float: right;
	display: inline-block;
	position: relative;
}
.footer .f-ch .f-cs-right dl dt span{
	margin-left: 10px;
}
.footer .f-ch .f-cs-right p{
	margin-top: 0;
	display: inline-block;
}
.footer .f-ch .f-cs-right p .footer-nvidia {
	background:url(img/business-logo.png) no-repeat;
	display: inline-block;
	width: 95px;
	height: 26px;
	background-position: -352px 0;
	vertical-align: middle;
	margin-left: 5px;	
}
.icon-apply {
				width: 10px;
				height: 10px;
				background: #241101;
				position: relative;
				display: inline-block;
				margin: 0 13px;
			}
			.icon-apply:before {
				content: '';
				width: 12px;
				height: 2px;
				background: #ac771f;
				position: absolute;
				display: block;
				top: 50%;
			}
			.icon-apply:after {
				content: '';
				width: 2px;
				height: 12px;
				background: #ac771f;
				display: block;
				position: absolute;
				left: 50%;
				
			}
.bigbig-icon{
				clip: rect(25px, 130px, 190px, -27px);
				position: absolute;
				top: -13px;
				left: 300px;
				display: inline-block;
			}
.big-icon {
				width: 8px;
				height: 8px;
				background: #ac771f;
				border: 1px solid #2d1702;
				border-top: none;
				border-left: none;
				-webkit-transform: rotate(45deg);
				margin-top: 20px;
			}
.footer .f-ch .f-cs-right dl {
	float: right;
	margin: 0;
}
.footer .cprt {
	width: 1000px;
	text-align: left;
	margin: 0 auto 8px;
	padding-top: 40px;
	margin-top: 40px;
	position: relative;
}
.footer .cprt .logo-bz{
	background: url(img/logo_blizzard.png) no-repeat;
	display: inline-block;
	width: 140px;
	height: 80px;
	overflow: hidden;
	vertical-align: top;
	margin: 0;
	position: relative;
}
.footer .cprt .logo-ze {
	background: url(img/logo_ne.png) no-repeat;
	width: 125px;
	height: 38px;
	overflow: hidden;
	vertical-align: top;
	position: relative;
	top: 39px;
	margin: 0;
	display: inline-block;
}
.footer .cprt .info {
	width: 706px;
	float: right;
	text-align: left;
	padding-left: 73px;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
}
.footer .cprt .info ul {
	margin-left: -10px;
	padding-bottom: 5px;
	overflow: hidden;
	list-style: none;

}
.footer .cprt .info .clearFix {
	display: block;
}
.footer .cprt .info ul li {
	float: left;
	list-style: none;
	color: #552c09;
}
.footer .cprt .info ul li a {
	color: #ccc;
	padding: 0 10px;
	font-size: 14px;
	text-decoration: none;
	font-weight: 400;
}
.clearFix:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}
.footer .cprt .info p {
	font-size: 12px;
	margin: 0;
	line-height: 20px;
	font-weight: 400;
	color: #552c09;
	
}
.footer .cprt .info .integrity {
	padding: 8px 0;
}
.footer .cprt .info .integrity a {
	margin-right: 5px;
}
.footer .cprt .tips {
	color: #432914;
	text-align: center;
	position: relative;
	clear: both;
	font-size: 12px;
	line-height: 20px;
}
.footer .cprt .info p a {
	text-decoration: none;
	color: #552c09;
}
.footer .cprt .info p a:hover {
	color: #fff;
}
.bigbox {
				position: fixed;
				bottom: 0;
				right: 0;
				z-index: 300;
			}
			.bigbox .box:last-of-type {
				/*display: none;*/
				visibility: hidden;
			}
			.box {
				width: 82px;
				height: 82px;
				background: rgba(96,52,18,.6);
				border-radius: 50%;
				position: relative;
			}
			.box img {
				transition: all 1s;
			}
			.box img:first-of-type {
				transform: rotateY(180deg);
				-webkit-transform: rotateY(180deg);
			}
			.box:hover img:first-of-type {
				transform: rotateY(0deg);
				-webkit-transform: rotateY(0deg);
			}
			
			.box img:last-of-type {
				position: absolute;
				top: 0;
				left: 0;
				transform: rotateY(0deg);
				-webkit-transform: rotateY(0deg);
			}
			.box:hover img:last-of-type {
				transform: rotateY(180deg);
				-webkit-transform: rotateY(180deg);
				z-index: -1;
			}