body{
	margin: 0;
}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
header {
	background: url("img/banner.jpg") no-repeat;
	background-size: 100% 20%;
	padding-top: 15px;
}
nav.top {
	width: 1140px;
	background-color: rgba(0, 0, 0, 0.41);
	margin: 0 auto;
	height: 54px;
	overflow: hidden;
}
nav.top form {
	width: 215px;
	line-height: 54px;
}
nav.top ul li {
    float: left;
    line-height: 54px;
    color: white;
    padding-top: 4px;
}
nav.top ul li a {
	margin: 0 15px;
	color: white;
	text-decoration: none;
	transition: all .3s;
}
nav.top ul li:after {
	content: "/";
}
nav.top ul li:last-of-type:after {
	content: "";
}
nav.top ul li:first-of-type a {
	color: yellow;
	border-top: 4px solid yellow;
}
nav.top ul li a:hover {
	color: yellow;
	border-top: 4px solid yellow;
}
nav.top form {
	position: relative;
}
nav.top form input {
	background: transparent;
	border: 1px solid white;
	outline: none;
	color: white;
	padding: 6px 14px ;
	margin-right: 10px;
}
nav.top form input[type=submit] {
	background: url(img/search.png) no-repeat;
	padding: 0;
	width: 22px;
	height: 22px;
	border: none;
	background-position: center;
	margin-right: 0;
	position: absolute;
	right: 25px;
	top: 16px;
	cursor: pointer;
}
header .center{
	margin: 170px auto 0px;
	text-align: center;
}
header .center h1{
	font-family: cursive;
	color: white;
	font-size: 70px;
	font-weight: 100;
	border-bottom: 4px solid white;
	border-top: 4px solid white;
	width: 320px;
	padding: 10px 0px;
	display: inline-block;
}
header .cardbox {
	overflow: hidden;
	width: 1140px;
	margin: 0 auto;
	position: relative;
	top: 150px;
}

header .cardbox .card {
	width: 199px;
	color: white;
	text-align: center;
	background: #16A667;
	padding: 21px 28px;
	float: left;
	margin: 0 15px;
}
header .cardbox .card img {
	width: 100px;
	height: 100px;
	padding: 14px;
	border: 9px solid white;
	margin: 0 26.5px;
	border-radius: 50%;
	transition: all .3s;
}
header .cardbox .card img:hover {
	transform: rotateY(360deg);
}
section.about {
	background: #eee;
	overflow: hidden;
	padding-top: 200px;
	padding-bottom: 56px;
}
.wrap {
	width: 1140px;
	margin: 0 auto;
}
.title {
	font-weight: bold;
	font-size: 40px;
}
.fl {
	float: left;
}
.fr {
	float: right;
	width: 700px;
	line-height: 20px;
	color: #666666;
}
.fl img {
	width: 400px;
	height: 376px;
}
.fr p {
	padding: 14px;
}
.services {
	background-color: #37353b;
	padding: 56px 0;
}
.wrap2 {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}
.title2 {
	font-size: 36px;
	color: white;
	margin-top: 0px;
}
.box2 {
	width: 1140px;
}
.box2card {
	width: 350px;
	float: left;
	padding: 0 15px;
]}
.box2card img {
	width: 70px;
	height: 70px;
	background-color: #16A667;
	margin: 0px 126px;
	padding: 7px 14px;
	border-radius: 10px;
}
.box2card img:hover{
	background: #F2AF00;
}
section .wrap2 .box2 .box2card h1 {
	color: white; 
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
section .wrap2 .box2 .box2card p {
	color: white;
	line-height: 20px;
	color: #999;
	text-align: center;
}
section.work {
	background-color: #eee;
	padding: 56px 0;
	overflow: hidden;
}
section.work .wrap3 {
	width: 1140px;
	margin: 0 auto;
}

.wrap3 h1 {
	font-weight: bold;
	font-size: 36px;
	margin-top: 0px;
}
section.work .wrap3 .box3card {
	width: 285px;
	height: 245px;
	position: relative;
	float: left;
}
section.work .wrap3 .box3card img:first-of-type {
	width: 285px;
	height: 245px;
}
section.work .wrap3 .box3card .textbox {
	transform: scale(0);
	transition: all .5s;
	position: absolute;
	top: 0;
	left: 0;
	padding: 90px 110px;
	background: rgba(15, 16, 15, 0.16);
	width: 65px;
	height: 65px;
}
section.work .wrap3 .box3card:hover .textbox{
		transform: scale(1);
		box-shadow: 0 0 10px 0 white;	
}
section.news {
	padding: 56px 0;
}
section.news .wrap4 {
	width: 1140px;
	margin: 0 auto;
}
section.news .box4 {
	width: 1140px;
	overflow: hidden;
}
.title4 {
	font-size: 36px;
	padding: 0 15px;
	margin-top: 0px;
}
section.news .wrap4 .box4card {
	width: 350px;
	padding: 0px 15px;
	float: left;
}
section.news .wrap4 .box4card img {
	width: 350px;
}
section.news .wrap4 .box4card p {
	color: #999;
	padding-top: 0px;
}
section.news .wrap4 .box4card h1 {
	margin: 10px 0px;
}
.box4card a {
				width: 130px;
				background: #f2af00;
				text-align: center;
	            font-size: 17px;
	            text-decoration: none;
	            color: white;
	            display: block;
	            line-height: 40px;
	            position: relative;
	            z-index: 1;
	            margin-top: 25px;
			}
.box4card a:after {
				content: "";
				width: 130px;
				background: #16A667;
				display: block;
				height: 40px;
				position: absolute;
				top: 0;
				left: 0;
				transition:all .5s;
				z-index: -1;
			}
.box4card a:hover:after {
				-webkit-transform: rotateX(90deg);
			}
section.xinxi {
	padding: 56px 0;
	background-color: #37353b;
}
section.xinxi .box5{
	width: 1140px;
	margin: 0  auto;
	overflow: hidden;
}
section.xinxi .box5 .box5card {
	width: 350px;
	padding: 0 15px;
	float: left;
	transition: 0.5s all;
}
.box5card ul li p:hover i {
	color: #FFB449;
}

section.xinxi .box5 .box5card h1 {
	color: white;
	margin-bottom: 50px;
	font-size: 32px;
	margin-top: 0px;
}
section.xinxi .box5 .box5card .up-img img {
	width: 73px;
	height: 73px;
	float: left;
	margin-right: 10px;
}
section.xinxi .box5 .box5card .up-p a p {
	float: right;
}
section.xinxi .box5 .box5card .up-p a {
	text-decoration: none;
	color: white;
	font-size: 19px;
	transition: 0.5s all;
}
section.xinxi .box5 .box5card .up-p p {
	text-decoration: none;
	color: #999;
	font-size: 14px;
	margin-bottom: 10px; 
}
section.xinxi .box5 .box5card .up-p:hover a {
	color: #f2af00;
}
section.xinxi .box5 .box5card .p-p p {
	margin: 0px;
	padding: 6px 24px 11px 0px;
	color: #999;
	font-size: 14px;
	transition: 0.5s all;
	}
section.xinxi .box5 .box5card .p-p p:hover {
	color: #f2af00;
}
section.xinxi .box5 .box5card .p-p p img {
	padding-right: 20px;
}
.phone1 {
	width: 40px;
	height: 40px;
	background: url(img/img-sprite1.png) no-repeat -220px 0px;
	display: inline-block;
}
.phone2 {
	width: 40px;
	height: 40px;
	background: url(img/img-sprite1.png) no-repeat -260px 0px;
	display: inline-block;
}
.phone3 {
	width: 40px;
	height: 40px;
	background: url(img/img-sprite1.png) no-repeat -300px 0px;
	display: inline-block;
}
section.xinxi .box5 .box5card ul li {
	display: inline-block;
	color: #999;
	font-size: 14px;
}
section.xinxi .box5 .box5card ul li p{
	margin: 0;
}
section.xinxi .box5 .box5card ul{
	margin-bottom: 28px;
}
footer .footer-section {
	background: #eee;
	padding: 65px 0px;
	text-align: center;
}
footer .footer-section .container {
	width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
div .footer-top {
	width: 1140px;
}
.social-icons a {
	width: 55px;
	height: 55px;
	display: inline-block;
	margin: 0 0 0 16px;
	background:url("img/img-sprite1.png") no-repeat;
}
.social-icons a:nth-of-type(1){
	background-position-x: 0px;
}
.social-icons a:nth-of-type(2){
	background-position-x: -55px;
}
.social-icons a:nth-of-type(3){
	background-position-x: -110px;
}
.social-icons a:nth-of-type(4){
	background-position-x: -165px;
}
.social-icons a:hover {
  opacity: 0.6;
}
footer .footer-middle {
	width: 1140px;
	overflow: hidden;
}
.bottom-mnue ul li {
	width: 44px;
	display: inline-block;
	margin: 17px 21px;
}
.bottom-mnue ul li a {
	text-transform: capitalize;
	font-size: 15px;
	color: #000;
	text-decoration: none;
}
footer .footer-bottom {
	width: 1140px;
}
footer .footer-bottom p a {
	margin: 0px 6px;
	}
footer .footer-bottom a {
	font-size: 20px;
	color: #16A667;
	font-weight: 400;
	font-family: sans-serif;
	text-decoration: none;
}
footer .footer-bottom a:hover {
	text-decoration: underline;
	outline: 0;
	color: #000;
}
.header-contact{
	background: url("img/banner.jpg") no-repeat 0px 0px;
	padding-top: 15px;
	background-size: cover;
	height: 450px;
}
nav.top1 {
	width: 1140px;
	background-color: rgba(0, 0, 0, 0.41);
	margin: 0 auto;
	height: 54px;
	overflow: hidden;
}
nav.top1 form {
	width: 215px;
	line-height: 54px;
}
nav.top1 ul li {
    float: left;
    line-height: 54px;
    color: white;
    padding-top: 4px;
}
nav.top1 ul li a {
	margin: 0 15px;
	color: white;
	text-decoration: none;
	transition: all .3s;
}
nav.top1 ul li:after {
	content: "/";
}
nav.top1 ul li:last-of-type:after {
	content: "";
}
nav.top1 ul li:first-of-type a {
	color: yellow;
	border-top: 4px solid yellow;
}
nav.top1 ul li a:hover {
	color: yellow;
	border-top: 4px solid yellow;
}
nav.top1 form {
	position: relative;
}
nav.top1 form input {
	background: transparent;
	border: 1px solid white;
	outline: none;
	color: white;
	padding: 6px 14px ;
	margin-right: 10px;
}
nav.top1 form input[type=submit] {
	background: url(img/search.png) no-repeat;
	padding: 0;
	width: 22px;
	height: 22px;
	border: none;
	background-position: center;
	margin-right: 0;
	position: absolute;
	right: 25px;
	top: 16px;
	cursor: pointer;
}
.header-contact .center1{
	margin-top: 105px;
	text-align: center;
}
.header-contact .center1 h1{
	font-family: cursive;
	color: white;
	font-size: 70px;
	font-weight: 100;
	border-bottom: 4px solid white;
	border-top: 4px solid white;
	width: 320px;
	padding: 10px 0px;
	display: inline-block;
}
.maine .container {
	width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}
div .contact {
	padding: 56px 0;
}
div .contact-head {
	width: 1140px;
}
div .contact-head h3 {
	font-size: 46px;
	color: #394c53;
	text-align: center;
	margin-top: 0px;
}
div .contact-grids {
	width: 1140px;
}
div .contact-grids .contact-form {
	width: 1140px;
}
div .form-head-top {
	width: 1140px;
}
div .form-head-top .form-block {
	width: 380px;
	height: 81px;
	float: left;
}
div .form-block span {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 8px;
	width: 371px;
}
div .form-block .text{
	width: 341px;
	height: 20px;
	padding: 14px;
	border: 1px;
	color: #ffb449;
	
}
.{
	border-color: red;
}
.form-content{
	width: 1110px;
}
.form-content textarea {
	width: 100%;
	padding: 14px;
	border: 1px;
	height: 320px;
	
}
.form-content span {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	width: 371px;
}
.contact-form input{
	color: #777;
}
.contact-form input[type="text"]{
	border: 1px solid #EEE;
	outline: none;
	transition: all .5s;
	font-family: sans-serif;
	font-size: 16px;
}
.contact-form input[type="text"]:hover{
	border-color: #ffb449;
	color: #ffb449;
}

.contact-form input[type="submit"] {
	background: #16A667;
	padding: 12px 50px;
	margin-top: 17px;
	font-weight: 400;
	font-size: 18px;
	transition: all .5s;
	color: white;
	border: none;
}
.contact-form input[type="submit"]:hover {
	background-color: #ffb449;
}
.contact-form textarea {
	border: 1px solid #EEE;
	outline: none;
	resize: none;
	transition: all .5s;
	font-family: sans-serif;
	font-size: 16px;
	color: #777;
}
.contact-form textarea:hover{
	border-color: #ffb449;
	color: #ffb449;
}
